<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .navbar-custom {
      background-color: red;
      color: white;
      font-family: cursive;
    }
    a{
        color: white;
    }
    .navbar-toggler-icon {
  color: white;
    }
    label {
  font-family: cursive;
}
.container {
  position: relative;
  width: 100%;
}

.my-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
 h3,h1 {
        color: red;
        font-family: cursive;
        text-align: center;
        margin-top: 5px;
      }
    

  </style>
</head>
<body>
    <!--Navbar code-->
    <nav class="navbar navbar-expand-md navbar-custom navbar-dark bg-red">
        <a class="navbar-brand">Blood Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="./home" style="color:white">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./user" style="color:white">Donor</a>
            </li>
          </ul>
        </div>
      </nav>

<h1>Admin</h1><br>
<h3>{{h3Text}}</h3>
<!--Form code-->
<div class="container center">
    <img src="/img/bg_form.jpg" alt="My Image">
    <form class="my-form" action="admin" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email ID" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <center><button type="submit" class="btn btn-primary" style="background-color: red;">Submit</button></center>
      </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
