<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>About Page</title>
  <style>
  h1 {
    font-size: 36px;
    font-family: cursive;
    color: #333;
    text-align: center;
  }
  .corner-image {
    position: fixed;
    width: 25%;
    height: auto;
    z-index: -1;
  }
  .top-left {
    top: 0;
    left: 0;
  }
  .top-right {
    top: 0;
    right: 0;
  }
  .bottom-left {
    bottom: 0;
    left: 0;
  }
  .bottom-right {
    bottom: 0;
    right: 0;
  }
</style>
</head>
<body>
  <img src="/img/blood_home.jpeg" class="corner-image top-left">
  <img src="/img/blood_home.jpeg" class="corner-image top-right">
  <img src="/img/blood_home.jpeg" class="corner-image bottom-left">
  <img src="/img/blood_home.jpeg" class="corner-image bottom-right">
  <div class="container mt-5" style="background-color: white; width: 550px;height: 500px;">
    <center><h1>Blood Bank Management System</h1></center>
    <p>
        Safety of blood transfusions is still a major public health issue. The public's confidence in its top-notch healthcare system is ensured by the accessibility of blood products for all blood kinds and the guarantee of their safety. However, the Sultanate's morbidity and mortality rates are still impacted by the absence of these blood products and the provision of unsafe blood products. It is anticipated that the use of an online blood bank administration system will increase or improve the safety of blood transfusions. Risks associated with incorrect blood donor documentation and lost records can be reduced or completely prevented. 
        Additionally, procedures for collecting, storing, and inventorying blood bags will be systematised and organised, which will enhance healthcare administration.
    </p>
    
    <!-- button -->
    <div class="text-center mt-3">
        <a href="./admin" class="btn btn-primary mt-5 ml-5" style="background-color: red; font-family: cursive;">Admin</a>
        <a href="./user" class="btn btn-primary mt-5 ml-5" style="background-color: red; font-family: cursive;">Donor</a>
    </div>


  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSliKT" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
